<lift:surround with="default" at="content">
    <section>
        <section id="one" class="wrapper style1 special">
            <div class="container">
                <div class="row 150%">
                    <div class="4u 12u$(medium)">
                        <div class="lift:comet?type=ChatForm?name=ChatForm">
                            <div>
                                <input type="text" name="name" id="chat_user" value="" placeholder="User">
                                <br/><input type="text" name="name" id="chat_msg" value="" placeholder="Message">
                            </div>
                            <div>
                                <br/><br/><a href="#" id="send_msg" class="button" onclick="javasciipt:void();">Send</a>
                                <div style="display:none" id="ajax-loader">
                                    <img src="/images/ajax-loader.gif" width="16" height="16"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="8u 12u$(medium)">
                        <div class="lift:comet?type=Chat?name=chat">
                            <div><h4>Messages:</h4></div>
                            <div>&nbsp;</div>
                            <div id="chatMsgs">
                                <strong id="chatUser"></strong>
                                &nbsp;&nbsp;<span id="chatMsg"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</lift:surround>

